@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekanf;
    src: url("/fonts/yekanf.woff") format("woff");
    font-weight: normal;
}

body {
    font-family: yekanf !important;
    background: #f9f9f9 !important;
    text-align: center;
}

#root {
    margin: 0 auto;
}

ul {
    list-style-type: none; /* remove default */
    padding-right: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

li::before {
    content: "•";
    font-size: 24px;
}
